# .env

# Общие настройки

DB_NAME=database
DB_USER=user
DB_PASSWORD=pass

DOMAIN_OR_IP=example.com

# Настройки SSH
SSH_PORT=22

# Настройки PostgreSQL
PG_PORT=5410
POSTGRESQL_VERSION=16

# Настройки PHP
PHP_VERSION=8.3

# Настройки Nginx
NGINX_ROOT=/var/www/html
NGINX_INDEX="index.php index.html index.htm"
NGINX_SERVER_NAME=example.com
NGINX_CLIENT_MAX_BODY_SIZE=120m
NGINX_SSL_DIR=/opt/ssl
NGINX_SSL_CERTIFICATE=example.com.cer
NGINX_SSL_CERTIFICATE_KEY=example.com.key
